/* Optional Light Navigation
=================================================================== */
#content, #content:before { border-left: none !important; }
#content.sidebar-minified {
    border-left: 40px solid #e9ebec !important;
}
.navbar, a.navbar-brand span{
    background: #12B7F4;
    color: #FFF !important;
}
.header-nav a.btn{
    background: #D9DEE4;
    color: #12B7F4 !important;
}
.header-nav a.btn.account {
    background: #12B7F4;
    color: #FFF !important;
    border-left-color: transparent;
}

.header-nav a.btn, .navbar #search input, .navbar #search i, .header-nav a.btn.cart {
    background: #ffffff;
}
.bnav  {
    background: #12B7F4;
    color: #282b2e;
}
footer  {
    background: #12B7F4;
    color: #fff;
}
.navbar #search {
    background: #12B7F4;
    border: 1px solid #12B7F4;
}
.header-nav a.btn {
    border-left: 0;
    border-radius: 15px !important;
}

.header-nav a.btn:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: #0eace6;
	color: #ffffff !important;
}
a#main-menu-toggle {
  background: #12B7F4;
}
a#main-menu-toggle.close {
  opacity: 1;
  background: #282b2e !important;
  padding: 10px 13px !important;
}
a#main-menu-act {
  border-bottom: 1px solid #12B7F4;
}

a#main-menu-act i {
    background: #12B7F4;
    color: #fff;
    border-bottom: 1px solid #12B7F4;
    border-radius: 100%;
}
a#main-menu-act i:hover {
    background: #12B7F4;
    color: #FFF;
}
a#main-menu-min i:hover {
  background: #12B7F4;
  color: #6f7880;
}
#sidebar-left {
    background: none;
}
.lt td.sidebar-con {
    background-color: #e9ebec;
    border-right: 1px solid #dbdee0;
}
.nav.main-menu > li {
  margin-top: -1px;
  border-bottom: 0;
}
.nav.main-menu > li > a,
.nav.main-menu > li > ul > li > a,
.nav.main-menu > li > ul > li > ul > li > a,
.nav.main-menu > li > ul > li > ul > li > ul > li > a {
  color: #7c848d;
  border-bottom: 0;
  background: #e9ebec;
}
.nav.main-menu > li:first-child > a {
    border-right: 1px solid #dbdee0;
}
.nav.main-menu > li > a .chevron,
.nav.main-menu > li > ul > li > a .chevron,
.nav.main-menu > li > ul > li > ul > li > a .chevron,
.nav.main-menu > li > ul > li > ul > li > ul > li > a .chevron {
  color: #7c848d !important;
}
.nav.main-menu > li > a .chevron.closed:after,
.nav.main-menu > li > ul > li > a .chevron.closed:after,
.nav.main-menu > li > ul > li > ul > li > a .chevron.closed:after,
.nav.main-menu > li > ul > li > ul > li > ul > li > a .chevron.closed:after {
  color: #7c848d !important;
}
.nav.main-menu > li > a > i,
.nav.main-menu > li > ul > li > a > i {
  border-right: none;
}
.nav.main-menu > li > ul > li > a {
  background: #ffffff;
}
.nav.main-menu > li > ul > li > ul > li > a {
  background: #e1e3e5;
}
.nav.main-menu > li > ul > li > ul > li > ul > li > a {
  background: #dee0e2;
}
.nav.main-menu > li > a:hover,
.nav.main-menu > li > ul > li > a:hover,
.nav.main-menu > li > ul > li > ul > li > a:hover,
.nav.main-menu > li > ul > li > ul > li > ul > li > a:hover {
  background: #ced1d4;
  border-bottom: 1px solid #dbdee0;
  box-shadow: none;
  border-radius: 0px;
}
.nav.main-menu > li > a:hover > i,
.nav.main-menu > li > ul > li > a:hover > i,
.nav.main-menu > li > ul > li > ul > li > a:hover > i,
.nav.main-menu > li > ul > li > ul > li > ul > li > a:hover > i {
  border-color: #12B7F4;
}
.nav.main-menu > li > a:hover,
.nav.main-menu > li > ul > li > a:hover {
  background: #52cbf7;
  box-shadow: none;
  border-radius: 0px;
}
.nav.main-menu > li > ul > li.active > a,
.nav.main-menu > li > ul > li > ul > li.active > a,
.nav.main-menu > li > ul > li > ul > li > ul > li.active > a {
  background: #12B7F4;
}
.nav.main-menu > li.active > a:hover {
  background: #12B7F4;
  border: none;
  color: white;
}
.nav.main-menu > li.active > ul {
  background: #12B7F4;
}
#sidebar-left.minified .sidebar-nav li {
  border: 0;
}
#sidebar-left.minified .sidebar-nav li i {
  border-bottom: 0;
}
#sidebar-left.minified .sidebar-nav li ul i {
  border-bottom: 0;
}
#sidebar-left.minified .sidebar-nav li > ul > li > a > i {
  border-right: 0;
}
#sidebar-left.minified .sidebar-nav > ul > li > a .text {
  background: #e9ebec;
  border: 1px solid #dbdee0;
}
#sidebar-left.minified .sidebar-nav > ul > li:hover > a .text {
    background: #12b7f4;
    border: 1px solid #12b7f4;
    color: white;
    margin-top: 0;
}
#sidebar-left.minified .sidebar-nav > ul > li:hover > ul {
  top: 38px;
  background: #e9ebec;
  border: 1px solid #dbdee0;
  border-bottom: none;
}
.nav.main-menu > li.active > a, .nav.main-menu > li.active > a > i, #sidebar-left.minified .sidebar-nav > ul > li.active > a .text {
    background: #12B7F4;
    color: white;
    border-color: #12B7F4;
}
#sidebar-left.minified .sidebar-nav > ul > li:hover > ul {
    top: 38px;
    background: #12B7F4;
    border: 0;
    border-bottom: none;
}
.nav.main-menu > li > ul > li.active > a,
.nav.main-menu > li > ul > li > ul > li.active > a,
.nav.main-menu > li > ul > li > ul > li > ul > li.active > a {
    background: #18c1ff;
    border-color: #18c1ff;
}
.header-nav a.btn.bblack {
  background: #12B7F4!important;
  color: #FFF !important;
  border-left: none;
}
.header-nav a.btn.bred{
  border-color: #ff5454!important;
  color: #fff!important;
}
.table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table-striped thead tr.primary:nth-child(odd) th {
    background-color: #12B7F4;
    color: white;
    border-color: #12B7F4;
    border-top: 1px solid #12B7F4;
    text-align: center;
}
.btn-primary{
    background-color: #12b7f4;
    color: white;
    border-color: #12b7f4;
    border-top: 1px solid #12b7f4;
}
#content.sidebar-minified {
    border-left: 40px solid #e9ebec !important;
}
.login-page .login-form-links{
  box-shadow: none!important;
}
.login-page .btn {
  background: #12B7F4!important;
  border-color: #12B7F4!important;
  opacity: 0.8!important;
}
.text-primary{
   color: #12B7F4!important;
   text-transform: uppercase;
   font-weight: 700;
}
.login-page .login-content, .login-page .reg-content{

}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #1287b3 !important;
    border-color: #1287b3 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #1287b3;
    border-color: #1287b3;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #12b7f4;
    border-color: #12b7f4;
}
