/* Optional Light Navigation 
=================================================================== */
#content, #content:before { border-left: none !important; }
#content.sidebar-minified {
    border-left: 40px solid #e9ebec !important;
}
.navbar, a.navbar-brand span{
    background: #41896b;
    color: #FFF !important;
}
.header-nav a.btn{
    background: #D9DEE4;
    color: #4d9678 !important;
}
.header-nav a.btn.account {
    background: #41896b;
    color: #FFF !important;
    border-left-color: transparent;
}

.header-nav a.btn, .navbar #search input, .navbar #search i, .header-nav a.btn.cart {
    background: #D9DEE4;
}
.bnav  {
    background: #6fbc9c;
    color: #282b2e;
}
footer  {
    background: #41896b;
    color: #fff;
}
.navbar #search {
    background: #6fbc9c;
    border: 1px solid #6fbc9c;
}
.header-nav a.btn{
    border-left: 1px solid #D9DEE4;
}

.header-nav a.btn:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: #6fbc9c;
}
a#main-menu-toggle {
  background: #6fbc9c;
}
a#main-menu-toggle.close {
  opacity: 1;
  background: #282b2e !important;
  padding: 10px 13px !important;
}
a#main-menu-act {
  border-bottom: 1px solid #6fbc9c;
}

a#main-menu-act i {
    background: #6fbc9c;
    color: #fff;
    border-bottom: 1px solid #6fbc9c;
}
a#main-menu-act i:hover {
    background: #6fbc9c;
    color: #FFF;
}
a#main-menu-min i:hover {
  background: #6fbc9c;
  color: #6f7880;
}
#sidebar-left {
    background: none; 
}
.lt td.sidebar-con { 
    background-color: #e9ebec;
    border-right: 1px solid #dbdee0;
}
.nav.main-menu > li {
  margin-top: -1px;
  border-bottom: 1px solid #dbdee0;
}
.nav.main-menu > li > a,
.nav.main-menu > li > ul > li > a,
.nav.main-menu > li > ul > li > ul > li > a,
.nav.main-menu > li > ul > li > ul > li > ul > li > a {
  color: #7c848d;
  border-bottom: 1px solid #dbdee0;
  background: #e9ebec;
}
.nav.main-menu > li:first-child > a {
    border-right: 1px solid #dbdee0;
}
.nav.main-menu > li > a .chevron,
.nav.main-menu > li > ul > li > a .chevron,
.nav.main-menu > li > ul > li > ul > li > a .chevron,
.nav.main-menu > li > ul > li > ul > li > ul > li > a .chevron {
  color: #503c3c !important;
}
.nav.main-menu > li > a .chevron.closed:after,
.nav.main-menu > li > ul > li > a .chevron.closed:after,
.nav.main-menu > li > ul > li > ul > li > a .chevron.closed:after,
.nav.main-menu > li > ul > li > ul > li > ul > li > a .chevron.closed:after {
  color: #503c3c !important;
}
.nav.main-menu > li > a > i,
.nav.main-menu > li > ul > li > a > i {
  border-right: none;
}
.nav.main-menu > li > ul > li > a {
  background: #ffffff;
}
.nav.main-menu > li > ul > li > ul > li > a {
  background: #e1e3e5;
}
.nav.main-menu > li > ul > li > ul > li > ul > li > a {
  background: #dee0e2;
}
.nav.main-menu > li > a:hover,
.nav.main-menu > li > ul > li > a:hover,
.nav.main-menu > li > ul > li > ul > li > a:hover,
.nav.main-menu > li > ul > li > ul > li > ul > li > a:hover {
  background: #ced1d4;
  border-bottom: 1px solid #dbdee0;
  box-shadow: none;
  border-radius: 0px;
}
.nav.main-menu > li > a:hover > i,
.nav.main-menu > li > ul > li > a:hover > i,
.nav.main-menu > li > ul > li > ul > li > a:hover > i,
.nav.main-menu > li > ul > li > ul > li > ul > li > a:hover > i {
  border-color: #6fbc9c;
}
.nav.main-menu > li > a:hover,
.nav.main-menu > li > ul > li > a:hover {
  background: #64af90;
  box-shadow: none;
  border-radius: 0px;
}
.nav.main-menu > li > ul > li.active > a,
.nav.main-menu > li > ul > li > ul > li.active > a,
.nav.main-menu > li > ul > li > ul > li > ul > li.active > a {
  background: #6fbc9c;
}
.nav.main-menu > li.active > a:hover {
  background: #4d9678;
  border: none;
  color: white;
}
.nav.main-menu > li.active > ul {
  background: #6fbc9c;
}
#sidebar-left.minified .sidebar-nav li {
  border: 0;
}
#sidebar-left.minified .sidebar-nav li i {
  border-bottom: 1px solid #dbdee0;
}
#sidebar-left.minified .sidebar-nav li ul i {
  border-bottom: 0;
}
#sidebar-left.minified .sidebar-nav li > ul > li > a > i {
  border-right: 0;
}
#sidebar-left.minified .sidebar-nav > ul > li > a .text {
  background: #e9ebec;
  border: 1px solid #dbdee0;
}
#sidebar-left.minified .sidebar-nav > ul > li:hover > a .text {
  background: #c8ccd0;
  border: 1px solid #c8ccd0;
  color: white;
  margin-top: 0;
}
#sidebar-left.minified .sidebar-nav > ul > li:hover > ul {
  top: 38px;
  background: #e9ebec;
  border: 1px solid #dbdee0;
  border-bottom: none;
}
.nav.main-menu > li.active > a, .nav.main-menu > li.active > a > i, #sidebar-left.minified .sidebar-nav > ul > li.active > a .text {
    background: #4d9678;
    color: white;
    border-color: #4d9678;
}
#sidebar-left.minified .sidebar-nav > ul > li:hover > ul {
  top: 38px;
  background: #6fbc9c;
  border: 1px solid #6fbc9c;
  border-bottom: none;
}
.nav.main-menu > li > ul > li.active > a,
.nav.main-menu > li > ul > li > ul > li.active > a,
.nav.main-menu > li > ul > li > ul > li > ul > li.active > a {
    background: #9dc3b3;
    border-color: #9dc3b3;
}
.header-nav a.btn.bblack {
  background: #41896b!important;
  color: #FFF !important;
  border-left: none;
}
.header-nav a.btn.bred{
  border-color: #ff5454!important;
  color: #fff!important;
}
.table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table-striped thead tr.primary:nth-child(odd) th {
    background-color: #2A3F54;
    color: white;
    border-color: #2A3F54;
    border-top: 1px solid #2A3F54;
    text-align: center;
}
.btn-primary{
    background-color: #6fbc9c;
    color: white;
    border-color: #6fbc9c;
    border-top: 1px solid #6fbc9c;
}
#content.sidebar-minified {
    border-left: 40px solid #e9ebec !important;
}
.login-page .login-form-links{
  box-shadow: none!important;
}
.login-page .btn {
  background: #4d9678!important;
  border-color: #4d9678!important;
  opacity: 0.8!important;
}
.text-primary{
   color: #4d9678!important;
   text-transform: uppercase;
   font-weight: 700;
}
.login-page .login-content, .login-page .reg-content{
  
}