*, html {
    padding: 0;
    margin: 0;
    font-family: Helvetica !important;
}
body {
    font-family: Helvetica !important;
    padding: 50px 15px;
    margin: 0;
    height: 100%;
    background: #FFF !important;
    line-height: 1.15 !important;
    font-size: 12px;
}

@media print {
    body {
        padding: 15px;
    }

    body:before, body:after {
        display: none !important;
    }
}

body:before, body:after {
    display: none !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica !important;
    margin: 10px 0 !important;
}
h1 {
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
}
h2 {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}
h3 {
    font-size: 15px;
    line-height: 15px;
}
h4 {
    font-size: 14px;
    line-height: 14px;
}
h5 {
    font-size: 13px;
    line-height: 13px;
}
h6 {
    font-size: 12px;
    line-height: 12px;
}

header, footer {
    text-align: center;
    padding: 5px 25px !important;
    background-color: #F9F9FF;
    height: 20px;
    color: #000;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0;
}
header { top: 10px; }
footer { bottom: 10px; }

.title {
    text-transform: uppercase !important;
}

.table th {
    background-color: #eee !important;
    text-align: center;
    padding: 5px;
    color: #000 !important;
    border-color: #ddd !important;
}

.table td {
    padding: 4px;
}

.order_barcodes {
  /* uncomment line below to hide the barcodes */
  /* display: none; */
  margin-top: 10px;
}

.barcode .bcimg {
    margin-top: 10px;
    margin-right: 10px;
}
.qrimg {
    display: none;
}

.page {
    page-break-after: always;
}

@page { margin: 100px 25px; }
.pagenum:before { content: counter(page); }

.btn {
    border-radius: 0;
    margin-bottom: 5px;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
